#container4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "izq der";
  width: 100vw;
  height: 650px;
}
#izq4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
}
#img4 {
  height: 650px;
  width: 50vw;
  position: absolute;
  z-index: -1;
}
#pulsoBtn {
  /* position: absolute; */
  z-index: 1;
  width: 6vw;
  height: 8vh;
}
#txt1Con4 {
  margin-top: 6rem;
  margin-left: 3.5rem;
}
#txt2Con4,
#txt3Con4,
.button4 {
  margin-left: 3.5rem;
}
#textContainer4 {
  width: 40vw;
}
.button4 {
  text-decoration: none;
  padding: 1rem;
  /* font-size: 20px; */
  color: #ffffff;
  background-color: #2e1278;
  border-radius: 3px;
  background: #2e1278;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  margin-top: 9rem;
}
.button4:hover {
  color: #ffffff;
  background-color: #3b04db;
  text-decoration: none;
}
