#container4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "izq der";
  width: 100vw;
  height: 550px;
}
#izq4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
}
#img4 {
  width: 50vw;
  position: absolute;
  z-index: -1;
}
#pulsoBtn {
  /* position: absolute; */
  z-index: 1;
  width: 6vw;
  height: 12vh;
}

#texto1 {
  margin-top: 6rem;
  margin-left: 3.5rem;
}
#texto2,
#texto3,
#bt2Font {
  margin-left: 3.5rem;
}
#textContainer4 {
  width: 40vw;
}
