#container6 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30% 70%;
  grid-template-areas:
    "top"
    "abajo";
  width: 100vw;
  height: 63rem;
  text-align: center;
  justify-items: center;
}
#textContainer6 {
  margin-top: 7rem;
  grid-area: top;
  width: 50%;
}
#prodContainer {
  display: grid;
  /* align-content: start;
  justify-items: center; */
  margin-top: 0.1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 2rem;
}
.producto {
  margin-top: 4rem;
  width: 23rem;
  height: 37rem;
  display: grid;
  grid-template-rows: 70% 30%;
  grid-template-areas: "arriba" "abajo";
  justify-items: center;
  padding: 0px;
}

#prodImg {
  height: 29rem;
  width: 22rem;
  z-index: -1;
}
#price {
  grid-area: abajo;
  width: 17.5rem;
  height: 10rem;
  background-color: #ffffff;
  z-index: 1;
  margin-bottom: -2rem;
  box-shadow: rgba(248, 248, 248, 0.1) 0px 0px 30px 0px;
}
#prodName,
#prodPrice,
#order {
  text-align: center;
}
#inPrice {
  padding: 1.5rem;
}
#order {
  padding: 1rem;
}
#text6 {
  margin: 0px;
  padding: 0px;
}
#texto1,
#texto2,
#texto3 {
  margin: 0px;
}
