#container7 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "arriba"
    "abajo";
  width: 100vw;
  height: 28rem;
  text-align: center;
  justify-items: center;
  background: url(/images/banner-2.jpg);
}
#textContainer7 {
  width: 50%;
  margin-top: 4rem;
}
#mailto{
  width: 60%;
  height: 4rem;
}
#email {
  width: 60%;
  height: 4rem;
  border-radius: 50px;
  border: 1px solid #4F0FE1;
  outline: none;
  font-size: 1rem;
  margin-top: 4rem;
  
}
#subsTexto1 {
  font-size: 1.125rem;
  color: #ffffff;
}
#subsTexto2 {
  font-size: 2.25rem;
  color: #ffffff;
}
#subsTexto3 {
  font-size: 1rem;
  color: #ffffff;
}
#button7 {
  text-decoration: none;
  padding: 1rem;
  color: #ffffff;
  border-radius: 24px;
  background: #ff4e56;
  font-family: "Muli", sans-serif;
  
}

