*{
    margin: 0px;
    padding: 0px;
}
body {
    overflow-x:hidden;
}
.mainFont{
    font-family: "Muli", sans-serif;
    font-weight: 800;
}
.navFont{
    font-family: "Muli", sans-serif;
    font-weight: 400;
}
.secFont{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}
h1{
    font-size: 58px;
    color: #ffffff;
    line-height: 68px;
}
#subtitle{
    color: #ffffff;
    font-size: 16px;
    line-height: 26px;
}
#container1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2rem 1fr;
    justify-items: start;
}
.navFont{
    color: #ffffff;
    text-decoration: none;
}
#banner1{
    width: 135rem;
    position: absolute;
    z-index: -1;
}
#reloj1{
    position: absolute;
    z-index: 1;
}